body, 
html {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

#header {
  width: 100%;
  background-color: transparent;
  transition: background ease-out 0.2s;
}

#header .index {
  background-color: var(--primary-dark);
  color: #fff;
  text-transform: uppercase;
  padding: 5px;
  height: 22px; 
  overflow: hidden; 
  font-size: 12px;
}

#header.active {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
  z-index: 9999;
}

#header .navbar-collapse {
  width: auto;
}

#header .nav-link {
  text-transform: uppercase;
  border-bottom: solid 4px transparent;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  color: #000;
  transition: 0.2s;
}

#header .nav-link:hover {
  border-bottom: solid 4px var(--secondary);
  color: var(--secondary);
}

#contato .email {
  border-radius: 5px;
  background-color: var(--primary-dark);
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 30px;
}

#contato .email img {
  position: absolute;
  left: 30px;
  top: -30px;
}

#contato .email form {
  width: 60%;
  display: flex;
}

#contato .email .form-control {
  background-color: none;
  color: #fff;
}

#contato ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#contato ul li {
  display: flex;
  list-style-type: none;
  margin-left: 25px;
}

#contato ul li:first-child {
  margin-left: 0;
}

#contato ul li a {
  text-decoration: none;
  display: flex;
  font-size: 30px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  transition: all ease-out 0.2s;
}

#contato ul li a:hover {
  box-shadow: 0 0 10px rgba(0,0,0, 0.12);
  color: var(--dark);
}
