h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

.tittle {
  text-transform: uppercase;
}

.subtitle {
  color: var(--medium);
  font-weight: 400;
}

.block {
  margin-bottom: 120px;
}

.img-1, .img-2 {
  box-shadow: 0 0 30px 0 rgba(0,0,0, 0.5);
  border-radius: 5px;
}

.button {
  text-transform: lowercase;
  font-weight: 500;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.button-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.button-primary:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.button-primary-outline {
  border-color: var(--primary);
  color: var(--primary);
}

.button-primary-outline:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

#slider {
  background-size: contain;
}

#slider h1 {
  text-transform: uppercase;
  font-weight: 900;
}

#slider h4 {
  font-size: 18px;
  text-transform: uppercase;
}

.map-responsive{
  overflow:hidden;
  padding-bottom: 50%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:80%;
  width:100%;
  position:absolute;

}